/* Variables */
:root {
    --color-background: hsl(300, 5%, 96%);
    --color-footer: hsl(228, 45%, 44%);
    --primary-purple-50: hsl(260, 100%, 95%);
    --primary-purple-300: hsl(264, 82%, 80%);
    --primary-purple-500: hsl(263, 55%, 52%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-grey-100: hsl(214, 17%, 92%);
    --neutral-grey-200: hsl(0, 0%, 81%);
    --neutral-grey-300: hsl(213, 9%, 68%);
    --neutral-grey-400: hsl(224, 10%, 45%);
    --neutral-grey-500: hsl(217, 19%, 35%);
    --neutral-dark-blue: hsl(219, 29%, 14%);
    --neutral-black: hsl(0, 0%, 7%);
    --card-radius: 8px;
    --img-radius: 50%;
    --box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
    --border-img: 2px solid hsl(264, 82%, 80%);
    --size-preset-1: 1.25rem;
    --line-height-preset-1: 1.20;
    --size-preset-2: 0.8125rem;
    --line-height-preset-2: 1.10;
    --size-preset-3: 0.8125rem;
    --line-height-preset-3: 1.40;
    --size-preset-4: 0.6875rem;
    --line-height-preset-4: 1.10;
    --gap-card: 2rem;
    --padding-content-card: 2rem;
    --gap-content-card: 1rem;
    --weight-medium: 500;
    --weight-semibold: 600;
    --font-family: "Barlow Semi Condensed", sans-serif;
}

/* Resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */
body {
    background-color: var(--color-background);
    font-family: var(--font-family);
    letter-spacing: 0;
}

/* sr-only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Container */
.container {
    max-width: 19.0625rem;
    display: flex;
    flex-direction: column;
    gap: var(--gap-card);
    margin: 0 auto;
    padding: 4.5625rem 0;

    /* Cards */
    article {
        border-radius: var(--card-radius);
        box-shadow: var(--box-shadow);

        &.card-one {
            background-color: var(--primary-purple-500);
        }

        &.card-two {
            background-color: var(--neutral-grey-500);

            figcaption {

                img {
                    border: none;
                }

                .box-name {

                    h2 {
                        color: var(--neutral-grey-300);
                    }

                    p {
                        color: var(--neutral-grey-300);
                    }
                }
            }

            strong {
                color: var(--neutral-white);
            }

            blockquote {
                color: var(--neutral-grey-100);
            }
        }

        &.card-three {
            background-color: var(--neutral-white);

            figcaption {

                img {
                    border: none;
                }

                .box-name {

                    h2 {
                        color: var(--neutral-grey-500);
                    }

                    p {
                        color: var(--neutral-grey-400);
                    }
                }
            }

            strong {
                color: var(--neutral-grey-500);
            }

            blockquote {
                color: var(--neutral-grey-400);
            }
        }

        &.card-four {
            background-color: var(--neutral-dark-blue);

            figcaption {

                .box-name {

                    h2 {
                        color: var(--neutral-white);
                    }

                    p {
                        color: var(--neutral-white);
                    }
                }
            }

            strong {
                color: var(--neutral-grey-200);
            }

            blockquote {
                color: var(--neutral-grey-100);
            }
        }

        &.card-five {
            background-color: var(--neutral-white);

            figcaption {

                img {
                    border: none;
                }

                .box-name {

                    h2 {
                        color: var(--neutral-grey-500);
                    }

                    p {
                        color: var(--neutral-grey-300);
                    }
                }
            }

            strong {
                color: var(--neutral-grey-500);
            }

            blockquote {
                color: var(--neutral-grey-400);
            }
        }

        figure {
            display: flex;
            flex-direction: column;
            gap: var(--gap-content-card);
            padding: var(--padding-content-card);

            figcaption {
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-end;
                gap: 1.0625rem;

                img {
                    border-radius: var(--img-radius);
                    outline: var(--border-img);
                    width: 30px;
                    height: 30px;
                }

                .box-name {
                    display: flex;
                    flex-direction: column;
                    gap: 0.25rem;

                    h2 {
                        color: var(--neutral-white);
                        font-size: var(--size-preset-2);
                        line-height: var(--line-height-preset-2);
                        font-weight: var(--weight-medium);
                    }

                    p {
                        color: var(--primary-purple-50);
                        font-size: var(--size-preset-4);
                        line-height: var(--line-height-preset-4);
                        font-weight: var(--weight-medium);
                    }
                }
            }

            strong {
                color: var(--neutral-white);
                font-weight: var(--weight-semibold);
                font-size: var(--size-preset-1);
                line-height: var(--line-height-preset-1);
            }

            blockquote {
                color: var(--primary-purple-50);
                font-weight: var(--weight-medium);
                font-size: var(--size-preset-3);
                line-height: var(--line-height-preset-3);
            }
        }
    }
}

/* Footer */
.attribution {
    font-size: 0.6875rem;
    text-align: center;

    a {
        color: var(--color-footer);
    }
}

/* Tablette */
@media screen and (min-width: 768px) {
    
}

/* Desktop */
@media screen and (min-width: 1440px) {
       .card-one {
            position: relative;
            z-index: 1;

            ::before {
                content: "";
                position: absolute;
                left: 34px;
                top: 0;
                width: 104px;
                height: 102px;
                background-image: url(./images/bg-pattern-quotation.svg);
                z-index: -1;
            }
        }

}