/* Variables */
:root {
    --color-background: hsl(300, 5%, 96%);
    --color-footer: hsl(228, 45%, 44%);
    --primary-purple-50: hsl(260, 100%, 95%);
    --primary-purple-300: hsl(264, 82%, 80%);
    --primary-purple-500: hsl(263, 55%, 52%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-grey-100: hsl(214, 17%, 92%);
    --neutral-grey-200: hsl(0, 0%, 81%);
    --neutral-grey-400: hsl(224, 10%, 45%);
    --neutral-grey-500: hsl(217, 19%, 35%);
    --neutral-dark-blue: hsl(219, 29%, 14%);
    --neutral-black: hsl(0, 0%, 7%);
    --card-radius: 8px;
    --size-preset-1: 1.25rem;
    --line-height-preset-1: 1.20;
    --size-preset-2: 0.8125rem;
    --line-height-preset-2: 1.10;
    --size-preset-3: 0.8125rem;
    --line-height-preset-3: 1.40;
    --size-preset-4: 0.6875rem;
    --line-height-preset-4: 1.10;
    --gap-body: 2rem;
    --padding-card: 2rem;
    --gap-card: 1rem;
    --font-family: "Barlow Semi Condensed", sans-serif;
}

/* Resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */
body {
    background-color: var(--color-background);
    font-family: var(--font-family);
    letter-spacing: 0;
}

/* sr-only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Footer */
.attribution {
    font-size: 0.6875rem;
    text-align: center;

    a {
        color: var(--color-footer);
    }
}